@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-slate-200 min-h-[100vh] max-h-[100%] pb-[2rem];
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.postbubble {
  @apply bg-slate-50 rounded-[1rem] h-[33.5rem] lg:rounded-xl lg:h-[40rem] lg:w-[30rem] text-center p-6 mb-[1rem] shadow-md;
}
